body {
    margin:auto;
    padding:auto;
}

.navbar{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:black;
}

.navbar .titre{
    color:aquamarine;
    text-transform: uppercase;
}

.navbar ul.navbar_menu{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:20%;
}

.navbar ul.navbar_menu li a{
    text-decoration: none;
    color:darkgoldenrod;
}